.beam-block {
    position: absolute;
    transform-origin: center center;
    transform-box: fill-box;

    transform-origin: center center;
    transform-box: fill-box;

}

.beam-box {
    position: relative;
    background-color: blueviolet;
}

.beam {
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    /* transition: border-right 0.4s; */

}

/* При изменении масштаба карты, скрываем луч, чтобы скрыть дефекты анимации */
.zoom-anim-map .beam {
    opacity: 0;
    /* transition: 0s !important; */
    /* color: #f9fd0777; */
}