.__booty {
    background-color: #BC69D9;
    position: relative;
    // left: 10px;
    // bottom: 40%;
    margin-top: 32px;
    svg {
        margin-top: -14px;
        transform: rotate(-15deg)
    }
}