.__booty {
    background-color: #BC69D9;
    position: absolute;
    left: 10px;
    bottom: 200px;
    svg {
        margin-top: -14px;
        transform: rotate(-15deg)
    }
}

// .navIconBooty {
//     transform: rotate(-15deg)
// }