.extraction {
    width: 120px;
    padding: 8px;
    box-sizing: border-box;

    .__icon {
        background-color: #bc69d9;
        display: flex;
        justify-content: center;
        padding: 8px;
        border-radius: 4px 4px 0 0;
    }

    .__name {
        padding: 8px;
        background-color: #dfdad4;
        border-radius: 0 0 4px 4px;
        color: #4a5467;
        text-align: center;
    }
}