.drone-circle {
    animation: 4s linear drone-rotate infinite;
    transform-box: fill-box;
    transform-origin: center center;
    transition: 0.5s;
}
.zoom-anim-map .drone-circle {
    transition: 0s !important;
}
.zoom-anim-map .drone-border {
    transition: 0s !important;
}

.drone-center {
    transition: 0.5s;
}

.drone-border {
    transition: 0.5s;
}

.zoom-anim-map .drone-center {
    transition: 0s !important;
}
/* .leaflet-zoom-anim .drone-circle {
    transition: 0s !important;
}
.leaflet-zoom-anim .drone-center {
    transition: 0s !important;
} */

.a {
    color: #caa5f0;
    color: #322a35;
}

@keyframes drone-rotate {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}