/* .pointer-circle {
    z-index: 3002;
} */

/* #drone-lines {
    animation: 5s linear drone-rotate infinite;
    transform-box: fill-box;
    transform-origin: center center;
    box-shadow: 2 2 5px black;
} */

.drone-circle {
    animation: 4s linear drone-rotate infinite;
    transform-box: fill-box;
    transform-origin: center center;
    /* box-shadow: 2 2 5px black; */
    transition: 0.3s;
}
.zoom-anim-map .drone-circle {
    transition: 0s !important;
}
.zoom-anim-map .drone-border {
    transition: 0s !important;
}

.drone-center {
    transition: 0.3s;
}

.drone-border {
    transition: 0.3s;
}

.zoom-anim-map .drone-center {
    transition: 0s !important;
}
/* .leaflet-zoom-anim .drone-circle {
    transition: 0s !important;
}
.leaflet-zoom-anim .drone-center {
    transition: 0s !important;
} */

.a {
    color: #caa5f0;
    color: #322a35;
}

@keyframes drone-rotate {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}