.__shop {
    background-color: #000000;
    position: relative;
    // position: absolute;
    // left: 10px;
    // bottom: 268px;

    svg {
        margin-top: -15px;
        transform: rotate(-15deg)
    }
}

// .navIconShop {
// }