.__battle {
    // background-color: #BC69D9;
    background-color: #BC69D9;
    position: absolute;
    left: 10px;
    top: 38%;

    svg {
        margin-top: -13px;
        // transform: rotate(-15deg)
    }
}