.progressIcon {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 12px;
    box-sizing: border-box;
    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;

    & > .__topEffect {
        width: 36px;
        height: 22px;
        position: absolute;
        top: 1px;
        left: 1px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.250);
        
        z-index: 1;
    }

    & > .__icon {
        z-index: 2;
    }
}