.noticeRoot {
    width: 100%;
    position: absolute;
    bottom: calc(14px + var(--inset_bottom));
    left: 0px;
    overflow: hidden;
    padding: 0 14px;
    box-sizing: border-box;

    // display: flex;
    // flex-direction: column;
    // align-items: flex-end;

    // font-size: 14px;
    font-weight: normal;
    z-index: 3002;

    .notice {
        width: 100%;
        margin-top: 10px;

        .__content {
            padding: 2px 2px;
            box-sizing: border-box;
            background-color: #4a5467e5;
            border-radius: 8px;
            color: #dfdad4;

            position: relative;
            animation: 6s linear new-toast;


            .close {
                position: absolute;
                top: 0px;
                right: 0px;
                padding: 14px;
            }

            .__border {
                width: 100%;
                padding: 8px 8px;
                box-sizing: border-box;
                border: 3px solid #ffffff2d;

                border-radius: 8px;

                display: flex;
                align-items: flex-start;
            }

            .icon {
                padding: 8px;
                border-radius: 4px;
            }

            .data {
                padding-left: 12px;

                .__name {
                    font-size: 16px;
                    color: #A67EFC;
                }

                .__text {
                    padding-top: 3px;
                    // font-size: 15px;

                }

            }
        }


    }
}

@keyframes new-toast {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    5% {
        opacity: 1;
        transform: translateX(0px);
    }

    95% {
        opacity: 1;
        transform: translateX(0px);
    }

    100% {
        opacity: 1;
        transform: translateX(-100%);
    }
}