.back {
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;

    .__main {
        width: 100%;
        height: calc(40px);

        padding-bottom: 2px;

        display: flex;
        align-items: center;
        justify-content: center;

        box-sizing: border-box;
        color: white;
        background-color: #a55cc0;
        border-top: 2px solid #f1ba688c;
    
        text-align: center;

        font-size: 15px;
        line-height: 15px;
    }

    .iosBottom {
        height: var(--inset_bottom);
        background-color: #a55cc0;
    }
}

.__after {
    width: 100%;
    height: calc(40px + var(--inset_bottom));
}
