
.controlInvader {
    position: absolute;
    right: 34px;
    bottom: 34px;
  
    z-index: 101;
  
    .__circle {
      box-sizing: border-box;

      display: flex;
      justify-content: center;
      align-items: center;
  
      position: relative;

      .__button {
        transition: 0.2s;
        // background-color: #ffffff00;
        &:active {
          transform: scale(0.9)
        }
      }
    }
  }