.app {
  width: 100%;
  height: 100vh;
}

img {
  padding: 0px;
  margin: 0px;
  display: block;
}

path {
  transform-origin: center !important;
  transform-box: fill-box !important;
}

#root {
  --header_height_android: 56px;
  --header_height_ios: 52px;
  --header_height_vkcom: 48px;

}

.app {
  --header_height: var(--header_height_android);
  --inset_top: 0px;
  --inset_bottom: 0px;
  --vk_app_header_width: 0px;
}

.app.iphone {
  --vk_app_header_width: 88px;
  --header_height: var(--header_height_ios);
  --inset_top: env(safe-area-inset-top) !important;
  --inset_bottom: env(safe-area-inset-bottom) !important;
}

.app.android {
  --vk_app_header_width: 88px;
  --header_height: var(--header_height_android);
}

.pageRoot {
  width: 100%;
  height: 100%;
}


.mapCard {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
}

._MapContainer {
  width: 100%;
  height: 100%;
  z-index: 100;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.leaflet-popup {}

.leaflet-popup-content-wrapper {
  background-color: #310741af !important;
}

.leaflet-popup-tip {
  background-color: #310741af !important;
}

.leaflet-popup-content {
  margin: 0px !important;
}

// .aaaa {
//   z-index: 3000;
//   position: fixed;
//   bottom: 20px;
//   right: 20px;
//   height: 40px;
//   width: 40px;
//   background-color: rebeccapurple;

//   color: #e0379a;
// }

.strw1 {
  --stroke-width: 1px;
  --stroke-color: #000000;
  --text-stroke: var(--stroke-width) 0 0 var(--stroke-color),
    calc(var(--stroke-width) * -1) 0 0 var(--stroke-color),
    0 var(--stroke-width) 0 var(--stroke-color),
    0 calc(var(--stroke-width) * -1) 0 var(--stroke-color);
  text-shadow: var(--text-stroke);
}

.strw2 {
  --stroke-width: 2px;
  --stroke-color: #000000;
  --text-stroke: var(--stroke-width) 0 0 var(--stroke-color),
    calc(var(--stroke-width) * -1) 0 0 var(--stroke-color),
    0 var(--stroke-width) 0 var(--stroke-color),
    0 calc(var(--stroke-width) * -1) 0 var(--stroke-color);
  text-shadow: var(--text-stroke);
}

.strw3 {
  --stroke-width: 2px;
  --stroke-color: #4a5467;
  --text-stroke: var(--stroke-width) 0 0 var(--stroke-color),
    calc(var(--stroke-width) * -1) 0 0 var(--stroke-color),
    0 var(--stroke-width) 0 var(--stroke-color),
    0 calc(var(--stroke-width) * -1) 0 var(--stroke-color);
  text-shadow: var(--text-stroke);
}

.leaflet-control-attribution.leaflet-control {
  display: none;
}

.c10,
.c20,
.c30,
.c40,
.c50,
.c100 {
  background-color: #95D9F9;
  box-shadow: -4px 4px 0px #95D9F9;
}

.c11,
.c21,
.c31,
.c41,
.c51,
.c101 {
  background-color: #8FE3DF;
  box-shadow: -4px 4px 0px #8FE3DF;
}

.c12,
.c22,
.c32,
.c42,
.c52 {
  background-color: #D1B5FF;
  box-shadow: -4px 4px 0px #D1B5FF;
}

.c110,
.c111 {
  background-color: #d7c1fa;
  box-shadow: -4px 4px 0px #dec9ff;
}

.c120,
.c121 {
  background-color: #c2a3f3;
  box-shadow: -4px 4px 0px #D1B5FF;
}

.e10,
.e20,
.e30,
.e40,
.e50,
.e100 {
  background-color: #95D9F9;
}

.e11,
.e21,
.e31,
.e41,
.e51,
.e101 {
  background-color: #8FE3DF;
}

.e12,
.e22,
.e32,
.e42,
.e52 {
  background-color: #D1B5FF;
}

.e110,
.e111 {
  background-color: #D1B5FF;
}

.e120,
.e121 {
  background-color: #f3d8b0;
}

a.linkPlatform {
  color: inherit;
  text-decoration: none;
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: inherit;
  display: block;
  border-radius: 0;
}