.controlCenter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 101;


    .buttons {

        background-color: red;
        position: absolute;
        left: 50%;
        bottom: 0px;

        display: flex;
    }
}