.useItem {

    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px #424242;

    .header {
        width: 100%;
        padding: 3px 3px;
        box-sizing: border-box;
        background-color: #564971;
        border-radius: 4px 4px 0 0;
        border-top: 2px solid #8873b1;
        border-bottom: 2px solid #8873b1;

        .__border {
            width: 100%;
            padding: 8px 6px;
            box-sizing: border-box;
            border: 2px solid #8873b1;
            border-radius: 2px;

            color: white;
            font-size: 18px;
        }
    }

    .__content {
        width: 100%;
        border-bottom: 2px solid #b6b2ae;
        box-sizing: border-box;
        background-color: #564971;
        color: #ece5d9;

        .upswing {
            width: 100%;
            padding: 0px 14px;
            box-sizing: border-box;
            text-align: center;
            padding-top: 14px;
            color: #ddaa4a;
            font-size: 19px;
        }

        .details {

            padding: 14px 14px;
            padding-top: 0px;

            .item {
                display: flex;
                align-items: center;
                padding-top: 14px;

                .name {
                    padding-right: 12px;
                }

                .info {

                    display: flex;
                    align-items: center;

                    .was {}

                    .arrow {
                        padding: 0 24px;
                    }

                    .will {}

                }

            }

        }

        .modules {
            width: 100%;
            padding: 0px 14px;
            padding-bottom: 14px;
            box-sizing: border-box;

            .name {
                width: 100%;
                text-align: center;
                padding-bottom: 14px;
                color: #cecbd3;
            }

            .items {
                display: flex;
                justify-content: center;

                .item {
                    min-width: 80px;
                    padding: 0 4px;
                    // box-sizing: border-box;

                    &.select .module {
                        border: 3px solid #ddaa4a !important;
                    }

                    .module {
                        border: 3px solid #00000000;
                        border-radius: 6px;
                        overflow: hidden;

                        .__icon {
                            // background: linear-gradient(60deg,
                            //         #a137c7 0%,
                            //         #bc69d9 30%,
                            //         #ab2cda 70%);
                            display: flex;
                            justify-content: center;
                            padding: 4px 10px;
                        }

                        .__name {
                            padding: 4px 0;
                            font-size: 15px;
                            background-color: #dfdad4;
                            color: #4a5467;
                            text-align: center;

                            div {
                                margin: 0 auto;
                                width: min-content;
                            }
                        }
                    }

                    .__status {
                        text-align: center;
                        padding-top: 4px;
                        font-size: 14px;
                        font-weight: normal;
                        color: rgb(233, 136, 136);
                    }
                }

            }

        }


        .actions {
            width: 100%;
            padding: 0 12px;
            box-sizing: border-box;
            background-color: #dfdad4;
            border-top: 2px solid #b6b2ae;

            .inside {

                width: 100%;

                display: flex;
                justify-content: center;

                padding: 10px 0;

                .button {
                    margin-left: 12px;
                    font-size: 16px;
                    line-height: 16px;
                    padding: 10px 14px;
                    border-radius: 19px;
                    border: 2px solid #9e6faf;
                    background-color: #9e6faf;
                    color: #ffffff;

                    &.__white {
                        color: #4a5467;
                        border: 2px solid #4a5467;
                        background-color: #dfdad4;
                    }
                }
            }
        }
    }
}