.back {
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;

    z-index: 4;
    
    .__main {

        width: 100%;
        height: calc(var(--header_height) - 8px);

        padding-bottom: 2px;

        display: flex;
        align-items: center;
        justify-content: center;

        box-sizing: border-box;
        color: white;
        background-color: #a55cc0;
        // border-top: 2px solid #f1ba688c;
    
        .icon {
            padding-right: 10px;
        }
        .text {
            font-size: 16px;
            line-height: 16px;
        }
    }

    .iosBottom {
        height: var(--inset_bottom);
        background-color: #a55cc0;
    }
}

.__after {
    width: 100%;
    height: calc(var(--header_height) - 8px + var(--inset_bottom));
}
