.__level {
    position: absolute;
    left: 10px;
    top: 6px;
}


// RIGHT NAV
.__sector {
    position: absolute;
    right: 10px;
    top: 10px;
}
.__trophy {
    position: absolute;
    right: 10px;
    top: 46px;
}
.__coin {
    position: absolute;
    right: 10px;
    top: 108px;
}
.__sapphire {
    position: absolute;
    right: 10px;
    top: 144px;
}


// LEFT
.__experience {
    position: absolute;
    left: 10px;
    top: 10px;
}

.__zone {
    position: absolute;
    left: 10px;
    top: 64px;
}

