.__level {
    position: absolute;
    left: 10px;
    top: 6px;
}

.__trophy {
    position: absolute;
    left: 10px;
    top: 56px;
}

.__sector {
    position: absolute;
    left: 10px;
    top: 106px;
}