.__level {
    position: absolute;
    left: 10px;
    top: 6px;
}


// RIGHT NAV
.__sector {
    position: absolute;
    right: 10px;
    // top: 10px;
    top: var(--header_height);
}
.__trophy {
    position: absolute;
    right: 10px;
    top: var(--header_height);
    margin-top: 36px;
    // top: 46px;
}
.__coin {
    position: absolute;
    right: 10px;
    // top: 108px;
    // top: 46px;
    margin-top: 98px;
    top: var(--header_height);
}
.__sapphire {
    position: absolute;
    right: 10px;
    // top: 82px;
    margin-top: 134px;
    top: var(--header_height);
    // top: 144px;
}


// LEFT
.__experience {
    position: absolute;
    left: 10px;
    top: 10px;
}

.__zone {
    position: absolute;
    left: 10px;
    top: 64px;
}

