.aboutSector {
    width: 100%;
    padding: 8px 10px;
    box-sizing: border-box;

    .__container {

        .__item {

            border-bottom: 1px solid #5a5a5a;

            &:last-child {
                border-bottom: 0px;
            }

            width: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;

            padding: 10px 0;

            color: white;
            line-height: normal;
            font-size: 13px;


            .__icon {
                width: 16px;
            }

            .__name {
                padding-left: 10px;

            }

            .__text {
                flex: 1;
                padding-left: 6px;
                white-space: nowrap;
            }

        }

    }
}
.loading {
    color: white;
    width: 100%;
    text-align: center;
    padding: 24px 0;
}
.a {
    color: #6f302d;
    color: #132841;
    color: #746085;
    color: #37e04d;
    color: #375ee0;
    color: #e0379a;
    
    // color: #e9c564;
    
    color: #de89ff;
    color: #ff8686;
    color: #559ffa;
    color: #63ce7a;
    color: #fd7ec8;
    color: #9d9cff;
}