.counterProgress {
    z-index: 2000;

    &>.__icon {
        margin-left: 1px;
        position: relative;
        z-index: 2;
    }

    &>.__progress {
        height: 100%;

        display: flex;
        align-items: center;

        position: absolute;
        left: 17px;
        top: 0px;

        z-index: 1;
    }

}


.progress {
    height: 26px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;

    position: relative;

    background-color: black;

    display: flex;

    .__name {
        position: absolute;
        top: -20px;
        left: 8px;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        white-space: nowrap;
    }

    &>.__whiteEffect {
        width: 100%;
        padding: 1px 1px;
        box-sizing: border-box;

        z-index: 2;

        position: absolute;
        top: 0px;
        left: 0px;

        &>div {
            width: 100%;
            height: 12px;
            background-color: rgba(255, 255, 255, 0.4);
            border-radius: 3px;
            z-index: 3;
        }
    }

    &>.__progressBar {
        display: flex;
        width: 100%;
        z-index: 1;
        position: absolute;
        height: 24px;

        &>.__prefix {
            width: 13px;
            height: 24px;
        }

        &>.__wrapper {
            width: 100%;
            &>.__load {
                height: 24px;
                z-index: 1;
                border-radius: 0 3px 3px 0;
            }
        }
    }

    &>.__counter {
        z-index: 3;
        position: absolute;
        width: 100%;
        text-align: center;

        &>span {
            color: white;
            white-space: nowrap;
            font-size: 18px;
            -webkit-text-stroke: 1px black;
        }

    }
}