.tutorialRoot {

    display: flex;
    align-items: center;
    justify-content: center;

    .main {
        width: 100%;
        padding: 24px 30px;
        box-sizing: border-box;
        color: #ffffff;
        text-align: center;

        .name {
            font-size: 20px;
            padding-bottom: 14px;
        }

        .description {
            font-size: 18px;
        }
    }

    .next {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 24px;
        div {
            padding: 10px 34px;
            border: 3px solid white;
            border-radius: 8px;
            color: #ffffff;
        }
    }


    width: 100%;
    height: 100%;
    z-index: 4000;

    // background-image: radial-gradient(circle 20px at calc(100% - 50px) calc(100% - 50px), transparent 50px, #00000088 0);
    // background-image: radial-gradient(circle 1px at calc(13%) calc(100% - 125px), transparent 25px, #ffffff 40px, #000000b6 0);

    position: absolute;

    .circle {
        height: 100px;
        width: 100px;
        // background-size: cover;
        background-color: red;
        border-radius: 50%;
        transition: 2s ease;
    }
}

.projector {
    background-image: radial-gradient(circle 1px at calc(13%) calc(100% - 100px - 25px - var(--inset_bottom)), transparent 25px, #ffffff 40px, #000000c2 0);
    transition: background-image 1s;
}

.gun {
    background-image: radial-gradient(circle 1px at calc(35%) calc(100% - 30px - 40px - var(--inset_bottom)), transparent 40px, #ffffff 50px, #000000c2 0);
    transition: background-image 12s;
}

.ship {
    background-image: radial-gradient(circle 1px at calc(62%) calc(100% - 16px - 40px - var(--inset_bottom)), transparent 40px, #ffffff 50px, #000000c2 0);
    transition: background-image 12s;
}

.storm {
    background-image: radial-gradient(circle 1px at calc(87%) calc(100% - 34px - 25px - var(--inset_bottom)), transparent 25px, #ffffff 40px, #000000c2 0);
    transition: background-image 1s;
}