.l1 {
    transition: 0.2s;
}
.l2 {
    transition: 0.2s;
}
.l3 {
    transition: 0.3s;
}
.l4 {
    transition: 0.4s;
}
.l5 {
    transition: 0.5s;
}
.l6 {
    transition: 0.6s;
}
.l7 {
    transition: 0.6s;
}
.l8 {
    transition: 0.8s;
}