.l1 {
    transition: all 200ms;
}

.l2 {
    transition: all 200ms;
}

.l3 {
    transition: all 300ms;
}

.l4 {
    transition: all 400ms;
}

.l5 {
    transition: all 500ms;
}

.l6 {
    transition: all 600ms;
}

.l7 {
    transition: all 700ms;
}

.l8 {
    transition: all 800ms;
}