.__header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .iosTop {
        width: 100%;
        height: var(--inset_top);
        background-color: #a55cc0;
    }

    .__main {
        width: 100%;
        padding: 0px 0px;
        box-sizing: border-box;

        font-size: 18px;
        line-height: 18px;

        background-color: #a55cc0;
        border-bottom: 2px solid #f1ba688c;
        height: var(--header_height);

        display: flex;
        align-items: center;
        justify-content: space-between;

        .name {
            padding-left: 12px;
            display: flex;
            align-items: center;

            .text {
                padding-left: 12px;
            }
        }

        .details {
            margin-right: calc(18px + var(--vk_app_header_width));
            padding: 4px 12px;
            border-radius: 4px;
            background-color: #ffffff31;
        }
    }

}

.noData {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}